<template>
  <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">{{ model.title }}</div>

                    <div class="panel-body">
                      <img class="preview" :src="creativeMainImage" :alt="model.title" />
                      {{ model.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
      props: {
        model: {
          type: Object,
          required: true
        }
      },

      computed: {
        creativeMainImage() {
          return 'uploads/creative' + this.model.id + '/0.jpg'
        }
      }
    }
</script>

<style scoped>
  .preview {
    width: 170px;
  }
</style>
