<template>
  <form id="price_filter">
    <div class="panel panel-default">
      <div class="panel-heading">Price</div>
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <label for="price_from">From</label>
              <input id="price_from" type="number" v-model="price_from" class="form-control">
            </div>
            <div class="col-md-6">
              <label for="price_to">To</label>
              <input id="price_to" type="number" v-model="price_to" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Mileage</div>
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <label for="kms_from">From</label>
              <input id="kms_from" type="number" v-model="kms_from" class="form-control">
            </div>
            <div class="col-md-6">
              <label for="kms_to">To</label>
              <input id="kms_to" type="number" v-model="kms_to" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Owners count</div>
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <input id="owners_count" type="number" v-model="owners_count" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">City</div>
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <select id="city" v-model="city" class="form-control">
                <option value="">---</option>
                <option v-for="_title, _id in cities" :value="_id">{{ _title }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Model</div>
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <select id="model" v-model="model" class="form-control">
                <option value="">---</option>
                <option v-for="_title, _id in models" :value="_id">{{ _title }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">Engine Capacity</div>
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <label for="engine_from">From</label>
              <input id="engine_from" type="number" v-model="engine_from" class="form-control">
            </div>
            <div class="col-md-6">
              <label for="engine_to">To</label>
              <input id="engine_to" type="number" v-model="engine_to" class="form-control">
            </div>
          </div>
        </div>

      </div>

      <div class="panel-footer">
        <button type="button" form="price_filter" @click="priceApply">Apply</button>
      </div>
    </div>
  </form>
</template>

<script>

  export default {
    props: {
      cities: Object,
      models: Object
    },
    data() {
      return {
        price_from: '',
        price_to: '',
        engine_from: '',
        engine_to: '',
        owners_count: '',
        kms_from: '',
        kms_to: '',
        city: '',
        model: '',

      }
    },

    methods: {
      priceApply() {
        this.$emit('update', {
          price: (this.price_from == '' ? 0 : this.price_from) + ':' + this.price_to,
          engine: (this.engine_from == '' ? 0 : this.engine_from) + ':' + this.engine_to,
          kms: (this.kms_from == '' ? 0 : this.kms_from) + ':' + this.kms_to,
          owners_count: this.owners_count,
          city: this.city,
          make: this.model
        });
      }
    }
  }
</script>
