<template>
  <div class="v-paginator" v-show="last_page != 0">
    <button class="btn btn-default" @click="fetchData(prev_page_url)" :disabled="!prev_page_url">
      <<<
    </button>
    <span>Page {{current_page}} of {{last_page}}</span>
    <button class="btn btn-default" @click="fetchData(next_page_url)" :disabled="!next_page_url">
      >>>
    </button>
  </div>
</template>

<script>
  export default {
    props: {
      resource_url: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        current_page: '',
        last_page: '',
        prev_page_url: '',
        next_page_url: ''
      }
    },
    methods: {
      fetchData(fetchUrl) {
        var self = this
        fetchUrl = fetchUrl || this.resource_url

        //this.$http.get(fetchUrl)
        axios.get(fetchUrl)
          .then(response => {
            self.handleResponseData(response.data)
          })
          .catch(response => {
            console.log('Fetching data failed.', response)
          })
      },

      handleResponseData(data) {
        this.makePagination(data)
        this.$emit('update', data.creatives)
      },

      makePagination(data) {
        this.current_page = data.current_page
        this.last_page = data.total_pages
        this.prev_page_url = data.prev_page_url
        this.next_page_url = data.next_page_url
      }
    },

    watch: {
      resource_url() {
        this.fetchData()
      }
    },

    created() {
      this.fetchData()
    }

  }
</script>
