<template>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <creative-filter @update="updateFilters"
          :cities="dict.cities" :models="dict.models"
          />
      </div>

      <div class="col-md-8 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">Dashboard</div>

          <div class="panel-body">
            <creative class="catalog__item" v-for="creative in creatives"
              :model="creative" />

            <pager :resource_url="resource_url" @update="updateCreatives" />

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  const url = require('url')

  Vue.component('creative', require('./components/Creative.vue'))
  Vue.component('creative-filter', require('./components/Filter.vue'))
  Vue.component('pager', require('./components/Pager.vue'))

export default {
  data() {
    return {
      resource_url: window.catalog.url,
      dict: { cities: {}, models: {} },
      creatives: []
    }
  },

  components: [ 'creative', 'creative-filter', 'pager' ],

  methods: {
    updateCreatives(creatives) {
      this.creatives = creatives
    },

    updateFilters(data) {
      var urlObj = url.parse(this.resource_url, true)
      var query = urlObj.query

      for (var key in data) {
        delete query['filter[' + key + ']']
        query['filter[' + key +']'] = data[key]
      }

      urlObj.query = query
      urlObj.search = undefined
      this.resource_url = url.format(urlObj)

    },

    fetchDictionaries()
    {
      var self = this
      axios.get(window.dict.url)
        .then(response => {
          self.handleResponseData(response.data)
        })
        .catch(response => {
          console.log('Fetching data failed.', response)
        })
    },

    handleResponseData(response)
    {
      this.dict = response
    }
  },

  created()
  {
    this.fetchDictionaries()
  }
}
</script>
